<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="test/Horde/Text/Textile/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">lib</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="horde/Text_Textile">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>